.user-container {
    border: groove;
    color: #000;
    /* overflow: auto; */
    /* width: 1400px; 
    height: 900px;  */
    min-width: 1024px;
}

.user-container .user-content .user-menu {
    background-color: #e06c99;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 110px;
    flex-grow: 0;
    color: rgb(247, 247, 247);
    border: groove;
}

.user-container .user-content .user-menu input {
    height: 35px;
    border-radius: 30px;
    outline: none;
    margin: 0 5px 0 5px;
}

.user-container .user-content .user-menu button {
    border-radius: 40px;
    outline: none;
    width: 70px;
    margin: 0 40px 0 -20px;
    text-align: center;
    cursor: pointer;
}

.user-container .user-content .user-menu img {
    height: 42px;
    outline: none;
}

.user-container .user-content .user-menu .user-menu-logo {
    height: 70px;
    width: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.user-container .user-content .user-menu .user-menu-logo .user-menu-logo-heart-1 {
    margin: 0 0 0 40px;
}

.user-container .user-content .user-menu .user-menu-logo .user-menu-logo-heart-2 {
    margin: 0 50px 0 -15px;
}

.user-container .user-content .user-menu .user-menu-search {
    /* margin: 0 100px 0 10px; */
    flex: 1;
}

.user-container .user-content .user-menu .user-menu-search input {
    margin: 0 50px 0 10px;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    font-size: 17px;
    background-image: url("../../Image-Icon/Search.png");
    background-repeat: no-repeat;
    background-position: right;
}

.user-container .user-content .user-menu .user-menu-home button {
    width: 120px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
}

.user-container .user-content .user-menu .user-menu-firstname button {
    width: 90px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
}

.user-container .user-body {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-end;
    border: 1px solid white;
    height: 650px;
}

.user-container .user-body .user-body-render {
    border: 1px solid white;
    width: 75%;
}

.user-container .user-body .user-body-online {
    border: 1px solid white;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    flex-grow: 0;
    margin: 5px 5px 5px 0;
}

.user-container .user-body .user-body-online .user-body-online-title {
    border: groove;
    background-color: rgba(43, 181, 223, 0.993);
    height: 100px;
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.user-container .user-body .user-body-online .user-body-online-title img {
    margin: 0 10px -4px 0;
}

.user-container .user-body .user-body-online .user-body-online-render {
    border: 1px solid white;
    flex-grow: 6;
    overflow: auto;
}

.user-container .user-footer {
    border-style: groove;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(27, 27, 27);
    color: white;
}

.user-container .user-footer a {
    text-decoration: none;
    color: rgb(113, 240, 120);
}