h2 {
    color: rgb(240, 71, 141);
}

.login {
    border-style: groove;
    border-radius: 10px;
    flex-direction: column;
    background-color: rgb(231, 151, 169);
    margin: auto;
    width: 300px;
    height: 350px;
}

.login p {
    margin: 40px 0 0 20px;
    color: #000;
    text-align: left;
    font-style: italic;
}

.login input {
    margin-top: 10px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 0, 0);
    border-radius: 10px;
    width: 260px;
    outline: none;
}

.login .login-button input {
    width: 100px;
    margin-top: 10px;
    color: #000;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}

.login .forest-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-self: center;
    cursor: pointer;
}

.login .forest-button .forgotpass-button input {
    border: none;
    outline: none;
    color: black;
    background-color: rgb(231, 151, 169);
    font-style: italic;
    text-align: left;
    margin: 20px 0 0 30px;
    font-size: 15px;
    text-decoration: underline;
    float: left;
    font-weight: bold;
    cursor: pointer;
}

.login .forest-button .register-button input {
    width: 100px;
    border: none;
    outline: none;
    color: black;
    background-color: rgb(231, 151, 169);
    font-style: initial;
    font-size: 15px;
    text-decoration: underline;
    margin: 20px 0 0 -120px;
    font-weight: bolder;
    cursor: pointer;
}

.login .forest-button .forgotpass-button input:hover {
    color: rgb(5, 9, 233);
}

.login .forest-button .register-button input:hover {
    color: rgb(5, 9, 233);
}